body{
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

img{
  display: block;
}

#app{
  display: flex;
}

#pics{
  padding-right: 50px;
}

.fieldset{
  padding: 15px 0;
}

label{
  display: block;
  text-transform: uppercase;
}

input{
  width: 300px;
}